<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Crud Mysql Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/User/CadastroUsuario">
                <span class="fas fa-user-plus" aria-hidden="true"></span> &nbsp;Cadastrar Usuário
            </NavLink>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/User/ListUsuario" Match=@NavLinkMatch.All>
                    <span class="fas fa-list-ul" aria-hidden="true"></span> &nbsp;Listar Usuários
                </NavLink>
            </li>
        </ul>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Product/CadastroProduct">
                <span class="fas fa-box" aria-hidden="true"></span> &nbsp;Cadastrar Produto
            </NavLink>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Product/ListProduct" Match=@NavLinkMatch.All>
                    <span class="fas fa-list-ul" aria-hidden="true"></span> &nbsp;Listar Produtos
                </NavLink>
            </li>
        </ul>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
